@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

$sansSerif: 'Roboto Condensed', sans-serif;
$logoFont:  'Oswald', sans-serif;
$purple: #7a6acd;
$blue: #6a9ccd;
$light: #ecf2f9;
